<% provide :title, 'Home' %>

<section id='presenter' class='jumbotron'>
	<div class='container'>
		<div class="row">
			<div class='col-md-12'>
				
			</div>
		</div>
	</div>
</section>

<section id='about'>
	<div class='container'>
		<div class="row">
			<div class='col-md-12'>
				<ul class="breadcrumb">
					<li><%= link_to 'Home', root_path %></li>	
				</ul>

				<ul class="list-unstyled text-center">
					<li><h1>EMPRESA</h1></li>
					<li><hr></li>
				</ul>
				
				<div class="row">
					<div class="col-md-6">
						<p>
							A Media Portal é uma empresa brasileira que atua no desenvolvimento de soluções para arquivamento e gestão de grandes acervos digitais.

							Fundada em 2008 a empresa tem trabalhado em projetos pioneiros e inovadores, e em mercados distintos, onde pôde ao longo desses quase 10 anos, demonstrar sua versatilidade e alto grau de tecnologia integrada em suas soluções.

							Entre nossas especialidades destacamos a recente integração de nosso sistema com os abundantes recursos que a computação em nuvem oferece, tais como, elasticidade, resiliência e escalabilidade. Também mantemos a prestação de serviço e elaboração de projetos dedicados e customizados, oferecendo serviços ainda mais personalizados aos nossos clientes.

							Contamos com uma equipe qualificada, suporte e pós venda ativos, além de uma rede de parceiros que garantem a eficiência e qualidade técnica dos nossos projetos.
						</p>
					</div>
					
					<div class="col-md-6">
						<div class="jumbotron"></div>	
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section id='testimonial'>
	<div class='container'>
		<div class="row">
			<div class='col-md-12'>
				<ul class="list-unstyled text-center">
					<li><h1>DEPOIMENTOS</h1></li>
					<li></li>
				</ul>

				<div class="row">
					<div class="col-md-12">
						<blockquote>
							<h4>" A Media Portal se envolve com os detalhes. "</h4>
						</blockquote>
						<ul class='list-unstyled'>
							<li><%= image_tag('', class: 'avatar pull-left',) %></li>
							<li><h5><strong>Fernando Moura</strong></h5></li>
							<li><p>Editor Chefe - Revista da SET</p></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>


<section id='area'>
	<div class='container'>
		<div class="row">
			<div class='col-md-12'>
				<ul class="list-unstyled text-center">
					<li><h1>ÁREAS DE ATUAÇÃO</h1></li>	
					<li><p>A Media Portal mantém a sua linha	de projetos customizados
					e dedicados através da prestação de serviços profissionais.</p></li>
					<li><hr></li>
				</ul>
				
				<% for i in 1..8 %>
					<div class='col-md-3'>
						<div class='panel panel-default'>
							<div class="jumbotron"></div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>

<section id='service'>
	<div class='container'>
		<div class="row">
			<div class='col-md-12'>
				<ul class='list-unstyled text-center'>
					<li><h1>SERVIÇOS</h1></li>	
				</ul> 

				<div class="row">
					<div class="col-md-6">
						<div class="col-md-12">
							<ul class="list-unstyled text-right">
								<li>
										<h4>MIGRAÇÃO DE META DADOS
										<i class='glyphicon glyphicon-search'></i> </h4>
								</li>
							</ul>
						</div>
						<div class="col-md-12">
							<ul class="list-unstyled text-right">
								<li>
										<h4>CUSTOMIZAÇÃO DAS SOLUÇÕES
										<i class='glyphicon glyphicon-search'></i></h4>
								</li>
							</ul>
						</div>
						<div class="col-md-12">
							<ul class="list-unstyled text-right">
								<li>
										<h4>INTEGRAÇÃO COM SISTEMAS LEGADOS
										<i class='glyphicon glyphicon-search'></i></h4>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-12">
							<ul class="list-unstyled text-left">
								<li>
										<h4>MIGRAÇÃO DE META DADOS
										<i class='glyphicon glyphicon-search'></i> </h4>
								</li>
							</ul>
						</div>
						<div class="col-md-12">
							<ul class="list-unstyled text-left">
								<li>
										<h4>CUSTOMIZAÇÃO DAS SOLUÇÕES
										<i class='glyphicon glyphicon-search'></i></h4>
								</li>
							</ul>
						</div>
						<div class="col-md-12">
							<ul class="list-unstyled text-left">
								<li>
										<h4>INTEGRAÇÃO COM SISTEMAS LEGADOS
										<i class='glyphicon glyphicon-search'></i></h4>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section id='blog'>
	<div class='container'>
		<div class="row">
			<div class='col-md-12'>
				<ul class="list-unstyled text-center">
					<li><h1>NOTICIAS</h1></li>
					<li><p>Confira as novidades da nossa empresa.</p></li>
					<li><hr></li>
				</ul>

				<% for i in 1..3 %>
					<div class='col-md-4'>
						<div class='jumbotron'></div>
						<ul class='list-unstyled padding text-center'>
							<li><h5>CLIENTES, IMPLANTAÇÃO</h5></li>
							<li><h3>TV CULTURA USA MEDIA PORTAL PARA OPERAÇÃO DE FLUXOS NA TV CÂMARA DE SÃO PAULO</h3></li>
						</ul>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>

<section id='contact'>
	<div class='container'>
		<div class="row">
			<div class='col-md-12'>
				<ul class='list-unstyled text-center'>
					<li><h1>CONTATO</h1></li>
					<li><hr></li>
				</ul>
				
				<div class="row">
					<div class="col-md-4">
						<ul class="list-unstyled text-center">
							<li><h2><i class='glyphicon glyphicon-search'></i></h2></li>
							<li><h4><strong>TELEFONE</strong></h4></li>
							<li><p>(11) 3063-4411</p></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-unstyled text-center">
							<li><h2><i class='glyphicon glyphicon-search'></i></h2></li>
							<li><h4><strong>E-MAIL</strong></h4></li>
							<li><p>contato@mediaportal.com.br</p></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-unstyled text-center">
							<li><h2><i class='glyphicon glyphicon-search'></i></h2></li>
							<li><h4><strong>ENDEREÇO</strong></h4></li>
							<li><p>R. Galeno de Almeida 227, Jardim Ámerica
							São Paulo - SP. 05410-030</p></li>
						</ul>
					</div>
				</div>
				
				<div class='row'>
					<div class="col-md-5 col-md-offset-1">
						
					</div>
					<div class='col-md-6'>
						<%= render 'contact/form' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


